/*Aplicandole el estilo de fuente y color de fondo*/
body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}


/****************/
/*ESTILO NAVEBAR*/
/****************/

/* Configuración del navbar fondo, padding */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    padding: 20px 20px;
}

#navbar-Escritorio{
    display: none;
}

/* Tamaño del logo */
.logo img {
    width: 90px; 
}

/* Quitandole el fondo y el estilo de un boton*/
#btn-menu,#menu li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Opciones del menú*/
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Ajustando icons*/
#menu li:not(.register, .login) {
    margin: 25px 0 25px 12px;
}

#menu a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 1.125rem;
}

/*Imagen de la flecha en los menus y alineando verticalmente la imagen con el texto*/
.flecha{
    vertical-align: middle;
    margin-left: 10px;
}

#submenu-1 img{
    width: 12px;
    margin-right: 5px;
}

/*Ocultando los submenus*/
.submenu{
    display: none;
}

/*Para cambiar la imagen de la flecha hacia abajo con la de arriba con el .js*/
.flecha.up{
    content: url('../images/icon-arrow-up.svg');
}

/*Estilo al "boton" login en el menu desplegable*/
.login{
    text-align: center;
    margin: 40px 0 25px 0;
    cursor: pointer;
}
/*Estilo al "boton" register en el menu desplegable*/
.register{
    display: block;
    text-align: center;
    border: 1px solid hsl(0, 0%, 41%);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 25px 0 25px;
}

/*Estilo y animación de la barra lateral al presionar el botón menú*/
#menu{
    position: fixed;
    background-color:hsl(0, 0%, 98%);
    height: 100%;
    width: 68%; /*Tamaño del menu desplegable*/
    top: 0;
    right: -100%;
    z-index: 2;
    transition: right 0.3s ease-in-out;
}

/*Hacer que se muestre pegado al lado derecho de la pantalla*/
#menu.show {
    right: 0;
}

/*Botón cerrar "x"*/
/*div cerrar: para alinear el boton cerrar al costado*/
.buttonClose{
    display: flex;
    justify-content: end;
}

/*button cerrar: darle más espaciado con respecto a los items*/
#btn-close{
    margin-bottom: 15px;
}

/*CSS para oscurecer la pantalla al abrir el menú*/
#darkBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/****************/
/*ESTILO MAIN*/
/****************/

/*Contenido general*/
.content{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilo de la imagen principal*/
.imagenPrincipal{
    width: 100%;
}

/*Título de la página*/
h1 {
    font-size: 36px;
    margin: 50px 5px 0 5px;
    text-align: center;
    font-weight: 700;
}

/*Parrafo*/
p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: hsl(0, 0%, 41%);
}

/*Conviertiendo un enlazador 'a' a un botón en el bóton "Learn More"*/
.btn-moreContent {
    display: inline-block;
    padding: 15px 20px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0 50px 0;
}

/*Estilo a los auspiciadores poniendolos en fila*/
.auspiciadores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Tamaño del espacio a ocupar las imagenes auspiciadoras*/
.auspiciadores div{
    width: 20%;
}

/*Tamaño imagen*/
.auspiciadores img{
    width: 100%;
}


/*RESPONSIVE*/
/*Celular*/
@media (max-width: 500px) {

}

/*Tablet*/
@media (min-width: 501px) and (max-width:1023px) {
    .btn-moreContent:hover{
        background-color: hsl(0, 0%, 98%);
        color: hsl(0, 0%, 8%);
    }
}
/*PC*/
@media (min-width: 1024px){
    /****************/
    /*ESTILO NAVEBAR*/
    /****************/
    #navbar{
        display: none;
    }

    #navbar-Escritorio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
/*    .navigation {
        display: flex;
        align-items: center;
    }*/

    .group-1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .group-1 ul,
    .group-2 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; /* Mostrar las opciones de navegación en línea */
    }

    .group-1 ul li,
    .group-2 ul li {
        margin-left: 60px; /* Espacio entre las opciones */
        margin-bottom: 10px;
    }

    .group-2 ul li:last-child {
        margin-right: 0; /* Eliminar el espacio después de la última opción de navegación en el grupo 2 */
    }

    #navbar-Escritorio a {
        text-decoration: none;
        color: hsl(0, 0%, 8%);
        font-weight: 500;
    }



    .btn-moreContent:hover{
        background-color: hsl(0, 0%, 98%);
        color: hsl(0, 0%, 8%);;
    }
}