body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500, 700;
    background-color: hsl(0, 0%, 98%);
}

/* Configuración del navbar fondo, padding */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    padding: 20px 20px;
}

/* Tamaño del logo */
.logo img {
    width: 70px; 
}

/* Botón menú */
#btn-menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Opciones del menú*/
#menu ul {
    list-style: none;
    margin: 70px 0px;
    padding: 0;
}

#menu li {
    margin: 15px;
}

#menu a {
    text-decoration: none;
    color: hsl(0, 0%, 8%);
}

#menu li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*menu barra lateral*/
#menu{
    position: fixed;
    background-color: hsl(0, 0%, 98%);
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 2;
    transition: right 0.3s ease-in-out;
    right: -50%;
}

/* Muestra el menú */
#menu.show {
    right: 0;
}

/*botón cerrar*/
#btn-close{
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px 10px;
    z-index: 3;
    display: none;
}